
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .dark-2{
    color: #474747;
  }


  /* header starts here */
  .header{
    background-image: url(images/developer.png), url(images/header_bg.png)
    ;
    background-repeat: no-repeat;
    background-position: left top, right bottom;
  }
  /* nav-style starts here  */
  header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding-top: 30px;
  }
  .nav-title{
    font-size: 45px;
    font-weight: 800;
  }
  .nav-title span{
    color: #FD6E0A;
  }


  nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
  }
  nav ul li{
    list-style: none;
  }
  nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
  }
  .common-btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    border: none;
  }
  /* nav-style ends here  */


  /* bannar starts here  */
  .bannar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 38px 50px 230px;
  }
  .bannar .greatings{
    font-size: 45px;
  }
  .bannar-title{
    font-size: 85px;
  }
  .bannar-content p{
    font-size: 18px;
    padding: 20px 0;
    width: 60%;
  }
  .contact-btn{
    color: #FD6E0A;
    background-color: white;
    border: 1px solid #FD6E0A;
    margin-left: 30px;
  }
  .bannar-image{
    width: 584px;
    height: 676px;
  }
  /* bannar ends here  */

  /* header ends here */



  /* main starts here */
  main{
    max-width: 1140px;
    margin: 0 auto;
  }
  /* common-style */
  .section-bg{
    background-color: #FFF8F3;
  }
  

  .section-title{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
  }

  .section-desc{
    color: #757575;
    font-size: 18px;
    padding: 30px 0;
  }

  /* about section starts here */
  .about{
    padding: 130px 150px;
    text-align: center;
    margin: 130px 0;
  }

  .about-items{
    display: flex;
    justify-content: space-around;
  }
  .item-title{
    font-size: 20px;
    color: #757575;
  }
  .item-desc{
    font-size: 20px;
    color: #474747;
    font-weight: bold;
    padding-top: 10px;
  }
  /* about section ends here */
  /* main ends here */


  /* work section starts here  */
  .work{
    text-align: center;
    margin-bottom: 130px;
  }
  .work-title-container{
    padding: 0 130px;
  }

  .skils-container{
    display: flex;
    gap: 24px;
  }
  .skils-container .skil{
    text-align: left;
    padding: 30px;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
  }
  .skil-title{
    font-size: 20px;
    font-weight: 700;
    color: #181818;
    padding: 30px 0;
  }
  /* work section ends here  */

  /* summary section starts here  */
  .summary-section{
    margin-bottom: 100px;
  }
  .summary-section .section-title{
    text-align: center;
  }
  .resume-container{
    display: flex;
    align-items: center;
    gap: 70px;
    margin-top: 110px;
  }

  .education{
    padding: 30px 0;
    border-bottom: 1px solid black;
  }
  .education-title{
    font-size: 30px;
  }
  .edu-title, .experience-title{
    font-size: 25px;
    color: #474747;
    padding-bottom: 10px;
  }
  .edu-university, .experience-plat{
    font-size: 20px;
    color: #757575;
    padding-bottom: 20px;
  }
  .edu-desc, .experience-desc{
    font-size: 16px;
    color: #757575;
  }
  .experience{
    padding: 30px 0;
    border-bottom: 1px solid black;
  }
  .experienced-title{
    font-size: 30px;
  }
  .down-btn-container{
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }

  /* summary section ends here  */

  /* footer starts here */
  footer{
    display: flex;
    /* max-width: 1140px; */
    margin: 0 auto;
    padding: 130px 300px;
    gap: 115px;
  }
  .connect-footer{
    width: 50%;
  }
  .form-section{
    width: 50%;
  }
  .social-icon{
    display: flex;
    gap: 24px;
  }
  .social-icon img{
    width: 30px;
    box-shadow: 0px 6px 50px -5px black;
  }

  /* form section starts here */
  .form-section .section-title{
    margin-bottom: 28px;
  }
  input[type='text'], input[type='email']{
    padding: 18px 30px;
    width: 100%;
    border: none;
    margin-bottom: 24px;
  }

  .form-section textarea{
    width: 100%;
    resize: none;
    padding: 30px 30px;
    border: none;
    margin-bottom: 24px;
  }
  /* form section ends here */
  /* footer ends here */


  .hide{
    display: none;
  }

  /* responsive design */
  @media screen and (max-width: 768px) {
    .header{
      background-image: none;
    }
    header nav{
      flex-direction: column;
      margin: 10px;
    }
    nav ul{
      flex-direction: column;
      width: 100%;
      gap: 10px;
      text-align: center;
    }
    nav ul li{
      padding: 20px 0;
      border-radius: 20px;
      background-color: silver;
      width: 100%;
    }
    .hire-btn{
      color: white;
      background-color: #FD6E0A;
      padding: 0;
    }
    .bannar{
      flex-direction: column;
      margin: 5px;
    }
    .bannar-image{
      width: 50%;
      height: auto;
    }
    .skils-container{
      flex-direction: column;
    }  
    .skils-container .skil{
      text-align: center;
      padding: 30px 5px;
    }
    
    .resume-container{
      flex-direction: column;
      padding: 0 20px;
    }
    footer{
      flex-direction: column;
      padding: 10px 30px;
    }
    .connect-footer, .form-section{
      width: 100%;
    }

    .work-title-container{
      padding: 0 20px;
      text-align: justify;
    }
    .work-title-container h3{
      text-align: center;
    }
    .about{
      padding: 50px;
    }
    .about-items{
      margin-top: 50px;
      /* background-color: gray; */
      display: grid;
      grid-template-columns: repeat(2, 40%);
      gap: 40px;
      justify-content: space-between;
    }
  }

